/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
.post-date {
  font-size: 0.8em;
  padding: 15px 0 0 0;
}
.post {
  font-size: 1em;
  padding: 30px 0 0 0;
  line-height: 1.5em;
}
.post > p,
.post > div,
.post > section {
  padding: 0 0 30px 0;
}
.post ul,
.post ol {
  list-style-type: square;
}
.post h2 {
  font-size: 1.4em;
  font-weight: bold;
}
.post h3 {
  font-size: 1.2em;
  font-weight: bold;
}
.posts {
  padding: 30px 0 0 0;
}
.posts li {
  padding: 0 0 20px;
  line-height: 1.5em;
}
.tags {
  padding: 10px 0 0;
  color: #aaa;
}
.tags .tag {
  font-size: 0.8em;
}
.related-posts {
  border-top: 1px solid #dcdcdc;
  padding: 20px 0 30px;
}
.related-posts .related-post {
  padding-top: 20px;
}
/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 1em 0.4em;
  font-size: 0.8em;
}
.post ul,
.post ol {
  margin-left: 1.35em;
  padding-bottom: 30px;
}
.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}
.post pre {
  overflow: scroll;
}
.post pre code {
  border: none;
}
/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}
.post pre.terminal code {
  background-color: #333;
}
@media (max-width: 450px) {
  .posts li > span {
    display: block;
    font-size: 0.85em;
  }
  .posts li > span.separator {
    display: none;
  }
}
/* Icons */
.sprite {
  background-image: url(/images/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}
.sprite-facebook {
  width: 32px;
  height: 32px;
  background-position: -5px -5px;
}
.sprite-facebook-color {
  width: 32px;
  height: 32px;
  background-position: -47px -5px;
}
.sprite-facebook-large {
  width: 128px;
  height: 128px;
  background-position: -89px -5px;
}
.sprite-facebook-large-color {
  width: 128px;
  height: 128px;
  background-position: -227px -5px;
}
.sprite-github {
  width: 32px;
  height: 32px;
  background-position: -365px -5px;
}
.sprite-github-color,
.sprite-github:hover {
  width: 32px;
  height: 32px;
  background-position: -407px -5px;
}
.sprite-github-large {
  width: 128px;
  height: 128px;
  background-position: -365px -47px;
}
.sprite-github-large-color {
  width: 128px;
  height: 128px;
  background-position: -5px -185px;
}
.sprite-google {
  width: 32px;
  height: 32px;
  background-position: -449px -5px;
}
.sprite-google-color {
  width: 32px;
  height: 32px;
  background-position: -5px -47px;
}
.sprite-google-large {
  width: 128px;
  height: 128px;
  background-position: -143px -185px;
}
.sprite-google-large-color {
  width: 128px;
  height: 128px;
  background-position: -281px -185px;
}
.sprite-instagram {
  width: 32px;
  height: 32px;
  background-position: -47px -47px;
}
.sprite-instagram-color {
  width: 32px;
  height: 32px;
  background-position: -419px -185px;
}
.sprite-instagram-large {
  width: 128px;
  height: 128px;
  background-position: -5px -323px;
}
.sprite-instagram-large-color {
  width: 128px;
  height: 128px;
  background-position: -143px -323px;
}
.sprite-linkedin {
  width: 32px;
  height: 32px;
  background-position: -461px -185px;
}
.sprite-linkedin-color,
.sprite-linkedin:hover {
  width: 32px;
  height: 32px;
  background-position: -419px -227px;
}
.sprite-linkedin-large {
  width: 128px;
  height: 128px;
  background-position: -281px -323px;
}
.sprite-linkedin-large-color {
  width: 128px;
  height: 128px;
  background-position: -503px -5px;
}
.sprite-twitter {
  width: 32px;
  height: 32px;
  background-position: -5px -143px;
}
.sprite-twitter-color,
.sprite-twitter:hover {
  width: 32px;
  height: 32px;
  background-position: -47px -143px;
}
.sprite-twitter-large {
  width: 128px;
  height: 128px;
  background-position: -503px -143px;
}
.sprite-twitter-large-color {
  width: 128px;
  height: 128px;
  background-position: -419px -281px;
}
/*!
 * Fotorama 4.3.4.1 | http://fotorama.io/license/
 */
.fotorama__stage__shaft,
.fotorama__stage__frame,
.fotorama__html,
.fotorama__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.fotorama--fullscreen,
.fotorama__img {
  max-width: 99999px!important;
  max-height: 99999px!important;
  min-width: 0!important;
  min-height: 0!important;
  border-radius: 0!important;
  box-shadow: none!important;
  padding: 0;
  margin: 0;
}
.fotorama__wrap .fotorama__grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.fotorama__grabbing * {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}
.fotorama__img,
.fotorama__oooo {
  position: absolute!important;
  top: 50%!important;
  left: 50% !important;
}
.fotorama__img {
  margin: -50% 0 0 -50%;
  width: 100%;
  height: 100%;
}
.fotorama__wrap--css3 .fotorama__stage__shaft,
.fotorama__wrap--css3 .fotorama__nav__shaft,
.fotorama__wrap--css3 .fotorama__thumb-border,
.fotorama__wrap--css3 .fotorama__stage__frame,
.fotorama__wrap--css3 .fotorama__nav__frame,
.fotorama__wrap--css3 .fotorama__img,
.fotorama__wrap--css3 .fotorama__html,
.fotorama__wrap--css3 .fotorama__caption,
.fotorama__arr,
.fotorama__fullscreen-icon,
.fotorama__video-play,
.fotorama__video-close {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.fotorama__wrap--video .fotorama__stage__shaft,
.fotorama__wrap--video .fotorama__stage__frame--video {
  -webkit-transform: none!important;
  -ms-transform: none!important;
  transform: none !important;
}
.fotorama__wrap--css3 .fotorama__stage__shaft,
.fotorama__wrap--css3 .fotorama__nav__shaft,
.fotorama__wrap--css3 .fotorama__thumb-border {
  -webkit-transition-property: -webkit-transform, width;
  transition-property: transform,width;
  -webkit-transition-timing-function: cubic-bezier(0.1, 0, 0.25, 1);
  transition-timing-function: cubic-bezier(0.1, 0, 0.25, 1);
  -webkit-transition-duration: 0ms;
  transition-duration: 0ms;
}
.fotorama__wrap,
.fotorama__no-select,
.fotorama__arr,
.fotorama__fullscreen-icon,
.fotorama__video-play,
.fotorama__video-close,
.fotorama__stage:before,
.fotorama__stage:after,
.fotorama__nav:before,
.fotorama__nav:after {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fotorama__select {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.fotorama__nav,
.fotorama__nav__frame {
  margin: 0;
  padding: 0;
}
.fotorama__nav__shaft,
.fotorama__nav__frame {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *zoom: 1;
}
.fotorama__wrap * {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.fotorama__caption {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fotorama--hidden,
.fotorama__load {
  position: absolute;
  left: -99999px;
  top: -99999px;
  z-index: -1;
}
.fotorama__stage__shaft,
.fotorama__stage__frame,
.fotorama__nav,
.fotorama__nav__shaft,
.fotorama__nav__frame,
.fotorama__arr,
.fotorama__fullscreen-icon,
.fotorama__video-play,
.fotorama__video-close {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.fotorama__arr__arr,
.fotorama__fullscreen-icon,
.fotorama__video-play,
.fotorama__video-close {
  background: url(/images/fotorama.png) no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .fotorama__arr__arr,
  .fotorama__fullscreen-icon,
  .fotorama__video-play,
  .fotorama__video-close {
    background: url(css/fotorama@2x.png) no-repeat;
    background-size: 96px 160px;
  }
}
.fotorama__thumb {
  background-color: #7f7f7f;
  background-color: rgba(127, 127, 127, 0.2);
}
.fotorama {
  min-width: 1px;
  overflow: hidden;
}
.fotorama > * {
  visibility: hidden;
}
.fotorama.fotorama--noscript > *,
.fotorama > .fotorama__wrap {
  visibility: visible;
}
.fullscreen {
  width: 100%!important;
  height: 100%!important;
  max-width: 100%!important;
  max-height: 100%!important;
  margin: 0!important;
  padding: 0!important;
  overflow: hidden!important;
  background: #000000;
}
.fotorama--fullscreen {
  position: absolute!important;
  top: 0!important;
  left: 0!important;
  right: 0!important;
  bottom: 0!important;
  float: none!important;
  z-index: 2147483647!important;
  background: #000;
  width: 100%!important;
  height: 100% !important;
}
.fotorama--fullscreen .fotorama__stage,
.fotorama--fullscreen .fotorama__nav {
  background: #000000;
}
.fotorama__wrap {
  -webkit-text-size-adjust: 100%;
  position: relative;
}
.fotorama__stage,
.fotorama__nav {
  overflow: hidden;
  position: relative;
}
.fotorama__wrap--pan-y {
  -ms-touch-action: pan-y;
}
.fotorama__wrap .fotorama__pointer {
  cursor: pointer;
}
.fotorama__wrap--slide .fotorama__stage__frame {
  opacity: 1 !important;
}
.fotorama__stage__frame {
  overflow: hidden;
}
.fotorama__stage__frame.fotorama__active {
  z-index: 8;
}
.fotorama__wrap--fade .fotorama__stage__frame {
  display: none;
}
.fotorama__wrap--fade .fotorama__stage__frame.fotorama__active {
  -ms-filter: "alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.fotorama__wrap--fade .fotorama__stage__frame.fotorama__active,
.fotorama__wrap--fade .fotorama__fade-front,
.fotorama__wrap--fade .fotorama__fade-rear {
  display: block;
  left: 0;
  top: 0;
}
.fotorama__wrap--fade .fotorama__fade-front {
  z-index: 8;
}
.fotorama__wrap--fade .fotorama__fade-rear {
  z-index: 7;
}
.fotorama__wrap--fade .fotorama__fade-rear.fotorama__active {
  z-index: 9;
}
.fotorama__wrap--fade .fotorama__stage .fotorama__shadow {
  display: none;
}
.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img,
.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html {
  -ms-filter: "alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}
.fotorama__img {
  -ms-filter: "alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  border: 0;
}
.fotorama__loaded .fotorama__img,
.fotorama__error .fotorama__img {
  -ms-filter: "alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.fotorama__img--full {
  display: none;
}
.fotorama--fullscreen .fotorama__loaded--full .fotorama__img {
  display: none;
}
.fotorama--fullscreen .fotorama__loaded--full .fotorama__img--full {
  display: block;
}
.fotorama__stage--only-active .fotorama__stage__frame {
  visibility: hidden;
}
.fotorama__stage--only-active .fotorama__stage__frame.fotorama__active {
  visibility: visible;
}
.fotorama__nav {
  font-size: 0;
  line-height: 0;
  text-align: center;
  display: none;
  white-space: nowrap;
  z-index: 5;
}
.fotorama__nav__shaft {
  position: relative;
  left: 0;
  top: 0;
  text-align: left;
}
.fotorama__nav__frame {
  position: relative;
  cursor: pointer;
}
.fotorama__nav--dots {
  display: block;
}
.fotorama__nav--dots .fotorama__nav__frame {
  width: 18px;
  height: 30px;
}
.fotorama__nav--dots .fotorama__nav__frame--thumb,
.fotorama__nav--dots .fotorama__thumb-border {
  display: none;
}
.fotorama__nav--thumbs {
  display: block;
}
.fotorama__nav--thumbs .fotorama__nav__frame {
  padding-left: 0 !important;
}
.fotorama__nav--thumbs .fotorama__nav__frame:last-child {
  padding-right: 0 !important;
}
.fotorama__nav--thumbs .fotorama__nav__frame--dot {
  display: none;
}
.fotorama__dot {
  display: block;
  width: 4px;
  height: 4px;
  position: relative;
  top: 12px;
  left: 6px;
  border-radius: 6px;
  border: 1px solid;
}
.fotorama__nav__frame.fotorama__active {
  pointer-events: none;
  cursor: default;
}
.fotorama__nav__frame.fotorama__active .fotorama__dot {
  width: 6px;
  height: 6px;
  border: 0;
}
.fotorama__dot {
  border-color: #7f7f7f;
}
.fotorama__active .fotorama__dot {
  background-color: #7f7f7f;
}
.fotorama__thumb {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.fotorama__thumb-border {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  border-style: solid;
  border-color: #00afea;
  background-image: -webkit-linear-gradient(top left, rgba(255, 255, 255, 0.25), rgba(64, 64, 64, 0.1));
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.25), rgba(64, 64, 64, 0.1));
}
.fotorama__caption {
  position: absolute;
  z-index: 12;
  bottom: 0;
  left: 0;
  max-width: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 10px;
}
.fotorama__caption a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.5);
}
.fotorama__caption a:hover {
  color: #333;
  border-color: rgba(51, 51, 51, 0.5);
}
.fotorama__wrap--video .fotorama__caption {
  display: none;
}
.fotorama__oooo {
  width: 6px;
  height: 6px;
  margin-left: -8px;
  margin-top: -3px;
}
.fotorama__oooo:before,
.fotorama__oooo:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #bfbfbf;
  background-color: rgba(127, 127, 127, 0.5);
}
.fotorama__oooo:before {
  left: -10px;
}
.fotorama__oooo .fotorama__oooo {
  margin-left: 17px;
}
.fotorama__oooo--1:before,
.fotorama__oooo--2:after,
.fotorama__oooo--3 .fotorama__oooo:before,
.fotorama__oooo--4 .fotorama__oooo:after {
  background-color: #7f7f7f;
}
.fotorama__wrap--css3 .fotorama__stage__shaft,
.fotorama__wrap--css3 .fotorama__nav__shaft,
.fotorama__wrap--css3 .fotorama__thumb-border,
.fotorama__wrap--css3 .fotorama__stage__frame,
.fotorama__wrap--css3 .fotorama__nav__frame,
.fotorama__wrap--css3 .fotorama__img,
.fotorama__wrap--css3 .fotorama__html,
.fotorama__wrap--css3 .fotorama__caption {
  -webkit-backface-visibility: hidden;
}
.fotorama__wrap--css3 .fotorama__img,
.fotorama__wrap--css3 .fotorama__html,
.fotorama__wrap--css3.fotorama__wrap--fade .fotorama__stage__frame,
.fotorama__wrap--css3 .fotorama__caption {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: .3s;
  transition-duration: 0.3s;
}
.fotorama__select {
  cursor: auto;
}
.fotorama__video {
  top: 32px;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 10;
}
@-moz-document url-prefix() {
  .fotorama__active {
    box-shadow: 0 0 0 transparent;
  }
}
.fotorama__arr,
.fotorama__fullscreen-icon,
.fotorama__video-play,
.fotorama__video-close {
  display: block;
  position: absolute;
  z-index: 11;
  cursor: pointer;
}
.fotorama__video-play,
.fotorama__video-close {
  -ms-filter: "alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}
.fotorama__arr {
  width: 48px;
  height: 100%;
  top: 0;
  bottom: 0;
}
.fotorama__arr__arr {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 50%;
  top: 50%;
  margin-left: -16px;
  margin-top: -16px;
}
.fotorama__arr--prev {
  left: 0;
}
.fotorama__arr--prev .fotorama__arr__arr {
  background-position: 0 0;
}
.fotorama__arr--next {
  right: 0;
}
.fotorama__arr--next .fotorama__arr__arr {
  background-position: -32px 0;
}
.fotorama__arr--disabled {
  pointer-events: none;
  cursor: default;
  *display: none;
  filter: alpha(opacity=0);
  opacity: 0.1;
}
.fotorama__fullscreen-icon {
  width: 32px;
  height: 32px;
  top: 0;
  right: 0;
  background-position: 0 -32px;
  z-index: 20;
}
.fotorama--fullscreen .fotorama__fullscreen-icon {
  background-position: -32px -32px;
}
.fotorama__video-play {
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  margin-left: -48px;
  margin-top: -48px;
  background-position: 0 -64px;
}
.fotorama__nav__frame .fotorama__video-play {
  width: 32px;
  height: 32px;
  left: 50%;
  top: 50%;
  margin-left: -16px;
  margin-top: -16px;
  background-position: -64px -32px;
  -ms-filter: "alpha(Opacity=100)" !important;
  filter: alpha(opacity=100) !important;
  opacity: 1 !important;
}
.fotorama__video-close {
  width: 32px;
  height: 32px;
  top: -32px;
  right: -32px;
  background-position: -64px 0;
  z-index: 20;
}
.fotorama__loaded .fotorama__video-play,
.fotorama__error .fotorama__video-play {
  -ms-filter: "alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  z-index: 11;
}
.fotorama__wrap--no-controls .fotorama__arr,
.fotorama__wrap--no-controls .fotorama__fullscreen-icon,
.fotorama__wrap--video .fotorama__arr,
.fotorama__wrap--video .fotorama__fullscreen-icon {
  -ms-filter: "alpha(Opacity=0)" !important;
  filter: alpha(opacity=0) !important;
  opacity: 0 !important;
}
.fotorama__wrap--slide.fotorama__wrap--no-controls .fotorama__fullscreen-icon,
.fotorama__wrap--video .fotorama__fullscreen-icon {
  top: -32px;
  right: -32px;
}
.fotorama__wrap--slide.fotorama__wrap--no-controls .fotorama__arr--prev,
.fotorama__wrap--video .fotorama__arr--prev {
  left: -48px;
}
.fotorama__wrap--slide.fotorama__wrap--no-controls .fotorama__arr--next,
.fotorama__wrap--video .fotorama__arr--next {
  right: -48px;
}
.fotorama__wrap--video .fotorama__stage .fotorama__video-play {
  -ms-filter: "alpha(Opacity=0)" !important;
  filter: alpha(opacity=0) !important;
  opacity: 0!important;
  z-index: -1;
}
.fotorama__wrap--video .fotorama__video-close {
  top: 0;
  right: 0;
  -ms-filter: "alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.fotorama__wrap--css3 .fotorama__arr,
.fotorama__wrap--css3 .fotorama__fullscreen-icon,
.fotorama__wrap--css3 .fotorama__video-play,
.fotorama__wrap--css3 .fotorama__video-close {
  -webkit-transition-property: top,right,left,opacity;
  transition-property: top,right,left,opacity;
  -webkit-transition-duration: .3s;
  transition-duration: 0.3s;
}
.fotorama__stage:before,
.fotorama__stage:after,
.fotorama__nav:before,
.fotorama__nav:after {
  content: "";
  display: block;
  position: absolute;
  text-decoration: none;
  top: 0;
  bottom: 0;
  width: 10px;
  height: auto;
  z-index: 10;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 1px 100%, 5px 100%;
}
.fotorama__stage:before,
.fotorama__nav:before {
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), -webkit-radial-gradient(0 50%, farthest-side, rgba(0, 0, 0, 0.4), transparent);
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), radial-gradient(farthest-side at 0 50%, rgba(0, 0, 0, 0.4), transparent);
  background-position: 0 0,0 0;
  left: -10px;
}
.fotorama__stage.fotorama__shadows--left:before,
.fotorama__nav.fotorama__shadows--left:before {
  left: 0;
}
.fotorama__stage:after,
.fotorama__nav:after {
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), -webkit-radial-gradient(100% 50%, farthest-side, rgba(0, 0, 0, 0.4), transparent);
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.4), transparent);
  background-position: 100% 0,100% 0;
  right: -10px;
}
.fotorama__stage.fotorama__shadows--right:after,
.fotorama__nav.fotorama__shadows--right:after {
  right: 0;
}
.fotorama--fullscreen .fotorama__stage:before,
.fotorama--fullscreen .fotorama__stage:after,
.fotorama--fullscreen .fotorama__nav:before,
.fotorama--fullscreen .fotorama__nav:after,
.fotorama__wrap--no-shadows .fotorama__stage:before,
.fotorama__wrap--no-shadows .fotorama__stage:after,
.fotorama__wrap--no-shadows .fotorama__nav:before,
.fotorama__wrap--no-shadows .fotorama__nav:after,
.fotorama__wrap--fade .fotorama__stage:before,
.fotorama__wrap--fade .fotorama__stage:after {
  display: none;
}
.highlight {
  background: #ffffff;
}
.highlight .c {
  color: #999988;
  font-style: italic;
}
/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
/* Error */
.highlight .k {
  font-weight: bold;
}
/* Keyword */
.highlight .o {
  font-weight: bold;
}
/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic;
}
/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}
/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic;
}
/* Generic.Emph */
.highlight .gr {
  color: #aa0000;
}
/* Generic.Error */
.highlight .gh {
  color: #999999;
}
/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}
/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888;
}
/* Generic.Output */
.highlight .gp {
  color: #555555;
}
/* Generic.Prompt */
.highlight .gs {
  font-weight: bold;
}
/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa;
}
/* Generic.Subheading */
.highlight .gt {
  color: #aa0000;
}
/* Generic.Traceback */
.highlight .kc {
  font-weight: bold;
}
/* Keyword.Constant */
.highlight .kd {
  font-weight: bold;
}
/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold;
}
/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold;
}
/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
/* Keyword.Type */
.highlight .m {
  color: #009999;
}
/* Literal.Number */
.highlight .s {
  color: #dd1144;
}
/* Literal.String */
.highlight .na {
  color: #008080;
}
/* Name.Attribute */
.highlight .nb {
  color: #0086b3;
}
/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
/* Name.Class */
.highlight .no {
  color: #008080;
}
/* Name.Constant */
.highlight .ni {
  color: #800080;
}
/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold;
}
/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold;
}
/* Name.Function */
.highlight .nn {
  color: #555555;
}
/* Name.Namespace */
.highlight .nt {
  color: #000080;
}
/* Name.Tag */
.highlight .nv {
  color: #008080;
}
/* Name.Variable */
.highlight .ow {
  font-weight: bold;
}
/* Operator.Word */
.highlight .w {
  color: #bbbbbb;
}
/* Text.Whitespace */
.highlight .mf {
  color: #009999;
}
/* Literal.Number.Float */
.highlight .mh {
  color: #009999;
}
/* Literal.Number.Hex */
.highlight .mi {
  color: #009999;
}
/* Literal.Number.Integer */
.highlight .mo {
  color: #009999;
}
/* Literal.Number.Oct */
.highlight .sb {
  color: #dd1144;
}
/* Literal.String.Backtick */
.highlight .sc {
  color: #dd1144;
}
/* Literal.String.Char */
.highlight .sd {
  color: #dd1144;
}
/* Literal.String.Doc */
.highlight .s2 {
  color: #dd1144;
}
/* Literal.String.Double */
.highlight .se {
  color: #dd1144;
}
/* Literal.String.Escape */
.highlight .sh {
  color: #dd1144;
}
/* Literal.String.Heredoc */
.highlight .si {
  color: #dd1144;
}
/* Literal.String.Interpol */
.highlight .sx {
  color: #dd1144;
}
/* Literal.String.Other */
.highlight .sr {
  color: #009926;
}
/* Literal.String.Regex */
.highlight .s1 {
  color: #dd1144;
}
/* Literal.String.Single */
.highlight .ss {
  color: #990073;
}
/* Literal.String.Symbol */
.highlight .bp {
  color: #999999;
}
/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080;
}
/* Name.Variable.Class */
.highlight .vg {
  color: #008080;
}
/* Name.Variable.Global */
.highlight .vi {
  color: #008080;
}
/* Name.Variable.Instance */
.highlight .il {
  color: #009999;
}
/* Literal.Number.Integer.Long */
/* Importing Fonts
--------------------------------------------------*/
@font-face {
  font-family: 'CopperplateGothicLightRegular';
  src: url('/fonts/copperplate_gothic_light-webfont.eot');
  src: url('/fonts/copperplate_gothic_light-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/copperplate_gothic_light-webfont.woff') format('woff'), url('/fonts/copperplate_gothic_light-webfont.ttf') format('truetype'), url('/fonts/copperplate_gothic_light-webfont.svg#CopperplateGothicLightRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotolight';
  src: url('/fonts/roboto-light-webfont.eot');
  src: url('/fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/roboto-light-webfont.woff') format('woff'), url('/fonts/roboto-light-webfont.ttf') format('truetype'), url('/fonts/roboto-light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Resetting CSS
--------------------------------------------------*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'robotolight', sans-serif;
  font-size: 12px;
}
#header {
  font-family: 'CopperplateGothicLightRegular';
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #f0f0f0;
  background-image: -webkit-linear-gradient(top, rgba(252, 252, 252, 0.6) 0%, rgba(252, 252, 252, 0.6) 30%, rgba(226, 226, 226, 0.6) 72%, rgba(222, 222, 222, 0.6) 100%);
  border-bottom: 1px solid #f0f0f0;
  box-shadow: 0 0 1px 2px #bdbdbd;
  margin: 0;
  padding: 0;
  color: #606060;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}
#header-text {
  font-size: 2.3em;
  line-height: 50px;
  margin: 0;
  position: absolute;
  right: 20px;
  color: #606060;
  text-decoration: none;
}
#menu-icon {
  display: none;
  background: url(/images/pagenav_list.png) 15px -4px no-repeat;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
#header-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.4em;
}
#header-menu > li {
  float: left;
  border-right: 1px solid #ddd;
  box-shadow: inset 1px 0 0 0 #f0f0f0;
  cursor: pointer;
}
#header-menu > li.current {
  background-color: #f0f0f0;
  background-image: -webkit-linear-gradient(top, rgba(222, 222, 222, 0.6) 0%, rgba(226, 226, 226, 0.6) 30%, rgba(252, 252, 252, 0.6) 72%, rgba(252, 252, 252, 0.6) 100%);
  border-bottom: 1px solid #eee;
}
#header-menu > li > a {
  display: inline-block;
  color: #555;
  text-decoration: none;
  line-height: 50px;
  padding: 0 15px;
}
#header-menu > li:hover {
  background-color: #fff;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 30%, rgba(231, 231, 231, 0.6) 72%, rgba(227, 227, 227, 0.6) 100%);
  border-bottom: 1px solid #fff;
}
#header-menu > li.current:hover {
  background-color: #f0f0f0;
  background-image: -webkit-linear-gradient(top, rgba(232, 232, 232, 0.6) 0%, rgba(236, 236, 236, 0.6) 30%, rgba(255, 255, 255, 0.6) 72%, rgba(255, 255, 255, 0.6) 100%);
  border-bottom: 1px solid #eee;
}
#header-menu > li:hover > a {
  color: #333;
}
.content-wrapper {
  margin: 0;
  padding: 70px 30px 100px;
  font-size: 1.6em;
  color: #555;
  text-align: center;
}
.content {
  display: inline-block;
  text-align: left;
  margin-top: 45px;
  max-width: 70%;
}
.content .content-header {
  font-size: 1.6em;
  font-weight: bold;
}
.content .content-text {
  margin: 15px 0;
}
.content a {
  color: #555;
  text-decoration: none;
  border-bottom: 1px #666 dotted;
}
.content a:visited {
  color: #7c7c7c;
}
.content a:hover {
  color: #0190CB;
}
#footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-top: 20px;
  padding: 5px;
  font-size: 1.2em;
  box-sizing: border-box;
  background-color: #fafafa;
  box-shadow: 0 0 1px 2px #e0e0e0;
}
#footer #copyright {
  float: left;
  margin-top: 10px;
}
#footer i {
  float: right;
}
@media (max-width: 960px) {
  .content {
    max-width: 85%;
  }
}
@media (max-width: 675px) {
  #menu-icon {
    display: block;
  }
  #header-menu > li {
    float: none;
    border-right: 1px solid #ddd;
    box-shadow: inset 1px 0 0 0 #f0f0f0;
    border-top: 1px solid #ddd;
  }
  #header-menu > li.current {
    background-color: #fcfcfc;
    background-image: none;
    border-bottom: none;
  }
  #header-menu > li > a {
    width: 100%;
  }
  #header-menu {
    display: none;
    background-color: #fcfcfc;
    border-bottom: 1px solid #f0f0f0;
    box-shadow: 0px 4px 10px -2px #888888;
  }
}
@media (max-width: 450px) {
  .content {
    max-width: 100%;
  }
  .content.about {
    max-width: 85%;
  }
}
